@media only screen and (min-width: 1024px) {
    .description {
        margin: -4em auto -2em auto;
        color: #fff;
        font-size: 4em;
        font-weight: 300;
        text-align: center;
    }
    .cont {
        display: grid;
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 1;
    }
    .social {
        margin: auto;
        padding: 10em;
    }
    .redes {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5px 1fr 5px;
        border: 1px #fff solid;
        border-radius: 5em;
        padding: 10em;
        margin: 10em;
    }
    .redes img {
        max-width: 90px;
        grid-area: 2/1;
    }
    .redes a {
        text-decoration: none;
        color: #fff;
        font-size: 10em;
        margin-top: auto;
        margin-bottom: auto;
        grid-area: 2/2;
    }
    .th-logo {
        width: 60px;
        transform: translateX(0);
    }
    #th-p {
        transform: translateX(0.3em);
    }
    #gh-logo {
        transform: translateX(-8em);
    }
    #in-logo {
        position: relative;
        width: 50px;
        transform: translateX(4em);
    }
    #in-p {
        transform: translateX(1.3em)
    }
    .social p {
        font-size: 15em;
        margin: 1em 0;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }
}