@media only screen and (min-width: 1024px) {
    .svg {
        transform: translateY(-80em);
    }
    .cont {
        transform: translateY(-60em);
    }
    @keyframes fadeOutRight {
        100% {
            opacity: 0;
            transform: translate3d(220%, 0, 0);
        }
    }
    .footer {
        transform: translateY(20em);
    }
}