* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;}

html {
    font-size: 48%;
}

:root {
    --first-color: #fafafa;
    --accent-color: #000000;
    --third-color: #ddd9d9;
    --hover-color: #dddada;
}

@media (min-width: 200px) {
    nav {
        font-size: 2rem;
        position: sticky;
    }
    header {
        position: sticky;
        z-index: 300;
        top: 0px;
        width: 100%;
        height: 4rem;
        border-bottom: 6.1rem var(--third-color) solid;
        display: none;
    }
    h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }
    .navbar-collapse {
        flex-direction: row-reverse;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--accent-color);
        font-size: 1.4rem;
        margin-left: 2rem;
    }
    .navbar-light .navbar-nav .nav-link.active:hover {
        color: var(--third-color);
    }
    body {
        background-color: var(--first-color);
        color: var(--accent-color);
    }
    h1 {
        font-size: 2rem;
        margin: 1rem 0 1rem 2rem;
    }
    main {
        display: grid;
        grid-template-columns: .2fr 2fr .2fr;
    }
    .disGrid {
        grid-area: 1 / 2;
    }
    .nw1 {
        font-size: 3rem;
        padding: 1.3rem;
    }
    .nw2 {
        font-size: 2rem;
        padding: 0 0 0 1.3rem;
    }
    .headCV {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: .1fr .2fr .2fr;
    }
    .basicImg {
        grid-area: 2 / 2;
        display: flex;
        justify-content: flex-end;
    }
    .basicImg>img {
        display: none;
    }
    .divNames {
        grid-area: 2 / 1;
        font-size: 1.2rem;
    }
    .name {
        font-size: 3rem;
    }
    .logos {
        padding: 1rem 0;
        grid-area: 2 / 1;
    }
    .logos a {
        margin: 0 .3rem 0 0;
    }
    .exp {
        position: relative;
        bottom: 2rem;
        font-size: 5%;
        box-shadow: -4px 10px 35px 0px rgba(0, 0, 0, 0.06);
        border-radius: 1rem;
        padding: 2rem 4rem;
    }
    h2 {
        margin: 2rem 0 1.3rem 0;
        font-size: 2rem;
    }
    h3 {
        margin: 1rem 0 .3rem 0;
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    a {
        text-decoration: none;
    }
    h5 {
        margin: .3rem 0 0 0;
        font-size: 1rem;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-auto-flow: dense;
        grid-gap: 10px;
        grid-auto-columns: auto;
    }
    .skills-p {
        font-size: 1rem;
        border: .05rem solid rgb(70, 67, 67);
        border-radius: .5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
    }
    .skills-p:hover {
        color: var(--accent-color);
        background-color: var(--hover-color);
        transition: background 0.1s linear;
    }
    .iconSrc {
        margin: 2rem 0;
        text-align: center;
    }
    footer{
        display: none;
    }
}