.banner{
	max-width: 60%;
	display: block;
	margin: 0 auto 5rem auto;
	animation: move 6s infinite;
}

@keyframes move {
   0% {
       transform: translateY(0rem);
       animation-timing-function:ease-in-out
   }

   50% {
       transform: translateY(3rem);
       animation-timing-function:ease-in-out
   }

   100% {
       transform: translateY(0rem);
       animation-timing-function:ease-in-out
   }
}