@media only screen and (min-width: 1024px) {
    
    @keyframes fadeOutRight {
        0% {
            opacity: 0;
        }
        10% {
            opacity: .1;
        }
        50% {
            opacity: .5;
        }
        100% {
            opacity: 0;
            transform: translate3d(220%, 0, 0);
        }
    }

    main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    .landscape img{
        position: relative;
    }

    .res{
        font-size: 100%;
        margin: -70rem 0 0 0 ;
    }
    
    .name h1{
        font-size: 6.3rem;


    }

    .name img{
        max-width: 25rem;


    }
    
    .cont{
        position: relative;
    }
}