* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}
@media (prefers-color-scheme: dark){
 :root {
    --main-background-color: #001220;
    --main-text-color: #fff;
    --second-text-color: #8300d3;
    
}}

@media (prefers-color-scheme: light){
    :root {
       --main-background-color: #fafafa;
       --main-text-color: #001220;
       --second-text-color: #8300d3;
       
   }}


body{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1{
    font-size: 2rem;
    padding: 1em;
}

